/****************************************************************
                                MISC
****************************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

/****************************************************************
                               HEADER
****************************************************************/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.right-header ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

/****************************************************************
                                MAIN
****************************************************************/
main {
    display: flex;
    align-items: center;
}

/****************************************************************
                            RANDOM SECTION
****************************************************************/
section.random {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.random-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/****************************************************************
                            QUOTES SECTION
****************************************************************/
.quotes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quotes p.quote-author {
    align-self: flex-end;
}

/****************************************************************
                        CALL TO ACTION SECTION
****************************************************************/
.call-to-action {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/****************************************************************
                                FOOTER
****************************************************************/
