/****************************************************************
                                MISC
****************************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

/****************************************************************
                               HEADER
****************************************************************/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.right-header ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

/****************************************************************
                                MAIN
****************************************************************/
main {
    display: flex;
    align-items: center;
}

/****************************************************************
                            RANDOM SECTION
****************************************************************/

/****************************************************************
                            QUOTES SECTION
****************************************************************/

/****************************************************************
                        CALL TO ACTION SECTION
****************************************************************/

/****************************************************************
                                FOOTER
****************************************************************/
